<template>
  <ClientOnly>
    <Button
      :icon="'pi pi-' + icons[values.indexOf(colorMode.value)]"
      text
      rounded
      @click="toggleColorMode"
    />
  </ClientOnly>
</template>

<script lang="ts" setup>
const colorMode = useColorMode()
const values = ref(['light', 'dark', 'system'])
const icons = ref(['sun', 'moon', 'globe'])
const toggleColorMode = () => {
  const currentIndex = values.value.indexOf(colorMode.value)
  const nextIndex = (currentIndex + 1) % values.value.length
  colorMode.value = values.value[nextIndex]!
}
</script>
