<template>
  <Card>
    <template #content>
      <Fluid>
        <h1 class="text-lg font-semibold">{{ mode }}</h1>
        <InputText
          v-model="command"
          autofocus
          @input="commandHandler"
        />
      </Fluid>
    </template>
  </Card>
  <Card>
    <template #content>
      <Fluid>
      {{ mode === 'useState' ? obj : mode === 'piniaRef' ? store.objCmd : store.shallowObjCmd }}
      </Fluid>
    </template>
  </Card>
</template>

<script lang="ts" setup>
const command = ref('')
const props = defineProps(['mode'])
const store = useStore()

const obj = useObjCmd()

const commandHandler = () => {
  if(props.mode === 'useState') {
    obj.value = parseCommand(command.value)
  }
  else if (props.mode === 'piniaRef') {
    store.objCmd = parseCommand(command.value)
  }
  else if (props.mode === 'piniaShallow') {
    store.shallowObjCmd = parseCommand(command.value)
  }
}
</script>

<style>

</style>
