<template>
  <div>
    <DataTable :value="store.tasks">
      <template #header>
        <div class="flex flex-wrap items-center gap-2">
          <span class="text-xl font-bold mr-40">Tasks</span>
          <Button
            icon="pi pi-refresh"
            :class="store.loading ? 'animate-spin' : ''"
            rounded
            raised
            @click="store.getTasks"
          />
        </div>
      </template>
      <Column field="id" header="ID" />
      <Column field="content" header="Title" />
      <Column field="completed" header="Status" />
    </DataTable>
  </div>
</template>

<script lang="ts" setup>
const store = useStore()
store.getTasks()
</script>

<style>

</style>
