<script setup>
import { FilterMatchMode } from '@primevue/core/api';
const store = useStore()
store.getPosts()

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    id: { value: null, matchMode: FilterMatchMode.STARTS_WITH },
    title: { value: null, matchMode: FilterMatchMode.CONTAINS },
    body: { value: null, matchMode: FilterMatchMode.CONTAINS },
});
</script>

<template>
  <ClientOnly>
  <Card>
  <template #content>
    <DataTable :value="store.posts" v-model:filters="filters" dataKey="id" filterDisplay="row" :globalFilterFields="['title', 'body']">
    <template #header>
        <div class="flex justify-end">
            <IconField>
                <InputIcon>
                    <i class="pi pi-search" />
                </InputIcon>
                <InputText v-model="filters['global'].value" placeholder="Keyword Search" />
            </IconField>
        </div>
    </template>

      <Column field="id" header="ID" />
      <Column field="title" header="Title">
        <template #filter="{ filterModel, filterCallback }">
          <InputText v-model="filterModel.value" type="text" @input="filterCallback()" placeholder="Search by title" />
      </template>
      </Column>
      <Column field="body" header="Body">
      <template #filter="{ filterModel, filterCallback }">
          <InputText v-model="filterModel.value" type="text" @input="filterCallback()" placeholder="Search by body" />
      </template>
      </Column>
    </DataTable>
  </template>
  </Card>
</ClientOnly>
</template>
