<script setup>
import { FilterMatchMode } from '@primevue/core/api';
const store = useStore()
</script>

<template>
  <ClientOnly>
  <Card>
  <template #content>
    <h1 class="text-lg font-semibold">Coucou</h1>
  </template>
  </Card>
</ClientOnly>
</template>
