<script setup>
import { FilterMatchMode } from '@primevue/core/api';
const store = useStore()
</script>

<template>
  <ClientOnly>
  <Card>
  <template #content>
    <CommandPrompt mode="useState" />
    <CommandPrompt mode="piniaRef" />
    <CommandPrompt mode="piniaShallow" />
  </template>
  </Card>
</ClientOnly>
</template>
