<template>
  <div class="grid grid-cols-12 gap-4 p-4">
    <div class="col-span-2">
      <Card>
        <template #content>
          <ColorModeButton />
        </template>
      </Card>
      <Menu :model="menuItems" />
    </div>
    <div class="col-span-10">
      <slot />
    </div>
    <Toast position="bottom-right" />
  </div>
</template>

<script lang="ts" setup>
const menuItems = [
  { label: 'Home', url: '/' },
  { label: 'Parse Command', url: '/parsecommand' },
  { label: 'Data table', url: '/datatable' },
]

</script>

<style>
.hide-toolbar .ql-toolbar {
  display: none;
}
</style>
